*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../assets/wood.jpg);
}

.flex-container {
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}

.white-board {
  background: url(../assets/white.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 12rem;
  width: 12rem;
  font-size: 8rem;
  height: 12rem;
  width: 12rem;
}

.black-board {
  background-image: url(../assets/black.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 12rem;
  width: 12rem;
  font-size: 8rem;
  height: 12rem;
  width: 12rem;
}

.white-piece {
  color: white;
  -webkit-text-stroke: 0.05rem black;
}

.black-piece {
  color: black;
  -webkit-text-stroke: 0.05rem #aaa;
}
